<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verified</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column; /* Align items in a column */
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 20px; /* Adjust the bottom margin as needed */
        }

        h1 {
            color:aqua;
            margin: 0;
            font-size: 2em;
        }
      footer {
      margin-top: 20px;
      padding: 10px;
      background-color: #333;
      color: #fff;
      text-align: center;
      width: 100%;
      box-sizing: border-box;
      position: fixed;
      bottom: 0;
    }
    </style>
</head>
<body>
    <header>
        <h1>Your Email has been verified</h1>
    </header>

    <footer>
        &copy; 2023 Your QuickShop. All rights reserved.
    </footer>
</body>
</html>
